[Unit]
Description=revuedepresse scraping

[Service]
Type=oneshot
WorkingDirectory=~
ExecStart=scrap_revuedepresse

[Install]
WantedBy=multi-user.target
