[Unit]
Description=revuedepresse scraping (simple version)

[Service]
Type=oneshot
WorkingDirectory=/home/david/
ExecStart=scrap_revuedepresse_simple

[Install]
WantedBy=multi-user.target
