[Unit]
Description=Run the scrap_revuedepresse script daily (international version)

[Timer]
#OnBootSec=15min
#OnUnitActiveSec=1d
OnCalendar=*-*-* 08:32:00

[Install]
WantedBy=timers.target
