[Unit]
Description=scrap revuedepresse

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse
# Without virtualenv
# ExecStart=/usr/bin/scrap_revuedepresse --international
# With virtualenv
ExecStart=%h/Documents/scrap_revuedepresse/venv/bin/scrap_revuedepresse --international

[Install]
WantedBy=multi-user.target
