[Unit]
Description=scraping revuedepresse

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse
# Without virtualenv
# ExecStart=/usr/bin/scrap_revuedepresse
# With virtualenv
# ExecStart=%h/Documents/scrap_revuedepresse/venv/bin/scrap_revuedepresse
# With pipenv
ExecStart=%h/Documents/scrap_revuedepresse/.venv/bin/scrap_revuedepresse

[Install]
WantedBy=multi-user.target
