[Unit]
Description=scrap revuedepresse

[Service]
Type=oneshot
WorkingDirectory=%h/Documents/scrap_revuedepresse
ExecStart=/usr/bin/scrap_revuedepresse

[Install]
WantedBy=multi-user.target
